@(albumForm: Form[(String, models.Album, models.Artist)])

@main("Album form") {
    <h1>Please write information about your favorite album</h1>
    @helper.form(action = routes.Application.save) {

    <input type="hidden" name="id" value="@albumForm("id").value"/>

    <p class="field">
        @albumForm.forField("name") { field =>
            <label for="@field.name">Album Name:</label>
            <input type="text" name="@field.name" id="@field.name" value="@field.value">
            @field.error.map { error =>
                <span class="error">@error</span>
            }
        }
    </p>
    <p class="field">
        @albumForm.forField("artist") { field =>
            <label for="@field.name">Artist:</label>
            <input type="text" name="@field.name" id="@field.name" value="@field.value">
            @field.error.map { error =>
                <span class="error">@error</span>
            }
        }
    </p>
    <p class="field">
        @albumForm.forField("genre") { field =>
            <label for="@field.name">Genre:</label>
            <select id="@field.name" name="@field.name">
                @models.Genre.values.map { genre =>
                    @if(genre == field.value) {
                        <option value="@genre.id" selected="selected">@genre.toString().toLowerCase()</option>
                    } else {
                        <option value="@genre.id">@genre.toString().toLowerCase()</option>
                    }
                }
            </select>
            @field.error.map { error =>
                <span class="error">@error</span>
            }
        }
    </p>
    <p class="field">
        @albumForm.forField("releaseDate") { field =>
            <label for="@field.name">Release date</label>
            <input type="text" name="@field.name" id="@field.name" value="@field.value">
            @field.error.map { error =>
                <span class="error">@error</span>
            }
        }
    </p>
    <p class="field">
        @albumForm.forField("cover") { field =>
            <label for="@field.name">Cover</label>
            <input type="file" id="@field.name" name="@field.name" accept="image/*">
            @if(albumForm("hasCover").value) {
                <br/>
                <img src="@routes.Assets.at("shared/covers")/${album?.id}" alt="no cover" width="50px" height="50px"/>
            }
        }
    </p>


    <p class="buttons">
        <a href="/albums" class="button">Cancel</a> or <input type="submit" class="button" value="Save this album" id="saveAlbum"/>
    </p>

    }

    <script>

        $(function(){
            // those stuff needs to be wrapped in a dom-ready callback. (same as $(document).ready)
            $("#releaseDate").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'});
        });
    </script>
}
