@(yearsToDisplay: List[Int])

@main("Welcome on vote4Music") {
    <h1>Welcome on vote4Music</h1>

    <p>vote4Music is an application made to allow you to vote for your favorite music albums</p>

    <h2><a href="albums">List albums and vote</a></h2>
    <h2><a href="/album/new">Add album</a></h2>

    <h2>Top rated:</h2>
    <form action="@routes.Application.listByGenreAndYear()">
    <label for="year">Release Year</label>
    <select id="year" name="year">
        @yearsToDisplay.map { year =>
            <option value="@year">@year</option>
        }
    </select>
    <br/>
    <label for="genre">Genre:</label>
    <select id ="genre" name="genre">
        @models.Genre.values.map { genre =>
            <option value="@genre.id">@genre.toString.toLowerCase</option>
        }
    </select>
    <input type="submit" class="button" value="View"/>
    </form>
}
