@()(implicit user: Option[User], request: RequestHeader)

@main("") {
    <h1>Test</h1>

    <div id="message"></div>

    <a id="longTask" href="#">Long task</a>

    <script>
        var socket = new WebSocket('@routes.AsyncController.testWebSocket().webSocketURL()');

        var display = function(event) {
            $('#message').append('' + event + '');
        }

        socket.onmessage = function(event) {
            display(event.data);
        }

        $(document).ready(function() {
            $('#longTask').click(
                    function() {
                        $.post('@routes.Application.publishEvent()', { message: 'Ok it works!!! ' } );
                    }
            );
        });
    </script>

}
